# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files
.env
venv/
env/
.venv/
myenv
# Ignore database files
db.sqlite3
*.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore static and media files (for Django)
staticfiles/
media/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

populate_students.py

migrations/